---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "My blog";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---
<BaseLayout pageTitle={pageTitle}>
  <p>This is the content of my first blog post.</p>
    <ul>
    {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
  </ul>
</BaseLayout>



